/* Глобальные стили */
body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Стилизация header */

.header {
  padding-bottom: 60px;

  background-color: #f3f7f8;
}

.header-head {
  height: 42px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-head .container {
  display: flex;
  justify-content: space-between;
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 42px;

  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
}

.header-logo-link:hover,
.header-logo-link:focus {
  background-color: #ca2c37;
}

.header-logo-link:active {
  background-color: #ba2732;
}

.header-head form {
  position: relative;
}

.header-label-search svg {
  position: absolute;

  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;

  opacity: 0.3;
  cursor: text;
}

/* ____Добавить белый цвет текста placeholder */
.header-search {
  width: 270px;
  height: 42px;
  padding-left: 50px;

  font: inherit;
  color: #000000;

  background-color: inherit;
  border: none;
}

.header-search::placeholder {
  color: #ffffff;
}

.header-search:-ms-input-placeholder {
  color: #ffffff;
}

.header-search:hover {
  background-color: #212a3a;
}

.header-search:focus {
  background-color: #ffffff;
}

.header-label-search:hover svg {
  opacity: 1;
}

.header-search:focus + svg path {
  fill: #ee3643;
}

.header-head a {
  position: relative;

  color: #ffffff;
}

.header-note {
  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-left: 45px;
  padding-bottom: 12px;
}

.header-basket {
  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-left: 50px;
  padding-bottom: 12px;
}

.inner-page .header-basket {
  background-color: #ee3643;
}

.header-note::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.header-basket::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.header-note:hover,
.header-basket:hover,
.header-note:focus,
.header-basket:focus {
  background-color: #212a3a;
}

.header-note:active,
.header-basket:active {
  background-color: #161d29;
  opacity: 0.4;
}

.header-note:hover::before,
.header-basket:hover::before,
.header-note:focus::before,
.header-basket:focus::before {
  opacity: 1;
}

.header-note:active::before,
.header-basket:active::before {
  opacity: 0.5;
}

.header-place-order {
  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-left: 22px;
  padding-bottom: 12px;

  background-color: #63a63e;
}

.header-place-order:hover,
.header-place-order:focus {
  background-color: #5fbb2d;
}

.header-place-order:active {
  opacity: 0.5;
  background-color: #518534;
}

.header-body {
  display: flex;
  margin-top: 46px;
  margin-bottom: 40px;
}

.header-desc {
  width: 197px;
  height: 63px;
  margin: 0;
  padding-right: 71px;
  padding-top: 3px;
  padding-left: 53px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 70px;

  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  color: #32425c;
}

.inner-page .header-contacts {
  margin-right: 50px;
}

.header-contacts a {
  position: relative;

  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 71px;

  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-contacts a::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 13px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contacts span {
  width: 270px;
  padding-top: 5px;
  text-align: center;
}

.header-list-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 281px;

  padding: 0;
  margin: 0;

  list-style: none;
}

.inner-page .header-list-btn {
  justify-content: flex-start;

  width: 299px;
}

.header-btn {
  display: block;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.header-btn-in {
  position: relative;
  padding: 13px 26px 12px 47px;
}

.header-btn-in svg {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;
}

.header-btn-reg {
  padding: 13px 23px 12px 24px;
}

.header-user-name {
  position: relative;
  padding: 13px 26px 12px 47px;
}

.header-user-name svg {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 18px;
}

.header-user-out {
  padding: 13px 9px 12px 10px;
}

.header-btn:hover,
.header-btn:focus {
  color: #ee3643;
}

.header-btn:hover path,
.header-btn:focus path {
  fill: #32425c;
}

.header-user-name:hover,
.header-user-name:focus {
  color: #000000;
}

.header-btn:active {
  color: rgb(0, 0, 0, 0.3);
}

.header-btn:active path {
  fill: #c5c5c5;
}

.header-user-links {
  position: relative;

  display: flex;
  width: 240px;
  margin: 0;
  margin-top: 4px;
  padding: 0;

  list-style: none;
}

.header-user-links li:first-child {
  margin-left: 18px;
}

.header-user-links li:last-child {
  margin-left: 32px;
}

.header-user-links::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 107px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.header-user-links a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.header-user-links a:hover,
.header-user-links a:focus {
  color: #ee3643;
}

.header-user-links a:active {
  color: #32425c;

  opacity: 0.3;
}

.header-main-nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.header-main-nav a {
  display: block;
  padding: 21px 33px 22px 34px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0 -5px #293449;
}

.header-main-nav a:hover,
.header-main-nav a:focus {
  background-color: #293449;
  box-shadow: none;
}

.header-main-nav a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
  box-shadow: none;
}

/* Стилизация main */

main {
  padding-top: 60px;
}

.link {
  padding: 10px 40px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.link:hover,
.link:focus {
  background-color: #ca2c37;
}

.link:active {
  background-color: #ba2732;
}

.catalog-item {
  box-sizing: border-box;
  width: 220px;
  text-align: center;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item-title,
.catalog-item-model {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.catalog-item-model {
  text-transform: uppercase;
}

.catalog-item-image {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.btn-buy {
  color: #ffffff;

  background-color: #63a63e;
  box-shadow: inset 0 -3px #367315;
}

.btn-buy:hover,
.btn-buy:focus {
  background-color: #5fbb2d;
}

.btn-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.btn-add-note {
  color: #32425c;

  border: 3px solid #63a63e;
}

.btn-add-note:hover,
.btn-add-note:focus {
  border-color: #32425c;
}

.btn-add-note:active {
  opacity: 0.3;
}

.catalog-item-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.price-old {
  color: #999999;
}

.price-new {
  color: #ffffff;

  /* ___С таким фоном не будет видно svg*/
  background-color: #ee3643;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.delivery {
  width: 540px;
  margin-bottom: 85px;
}

.contacts {
  width: 300px;
  margin-bottom: 85px;
}

.delivery h2,
.contacts h2 {
  margin: 0;
  margin-top: 80px;


  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.delivery p,
.contacts p {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 20px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.delivery-company-list {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  list-style: none;
}

.delivery-company-list li {
  position: relative;

  margin-top: 20px;
  padding-left: 36px;

  font-size: 18px;
  line-height: 20px;
}

.delivery-company-list li::before {
  content: "";
  box-sizing: border-box;

  position: absolute;
  top: 10px;
  left: 0;

  width: 25px;
  height: 2px;
  border: 1px solid #ee3643;
}

.image-map {
  margin: 0;
  margin-top: 32px;
  margin-bottom: 40px;

  height: 158px;

  background-color: #cccccc;
}

.image-map img {
  width: 300px;
  height: 158px;
}

.contacts .link {
  display: block;

  padding-left: 64px;
  padding-top: 11px;
}

/* Дополнительные стили для  main страницы каталога */
.inner-page main {
  padding-top: 20px;
}

.page-title {
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 32px 28px 34px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;

  background-color: #f2f6f8;
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  list-style: none;
}

.breadcrumbs a {
  color: inherit;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;

  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.filters h2 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filters ul {
  list-style: none;
}

.filter-manufacturer label,
.filter-power label {
  font-size: 15px;
  line-height: 20px;
}

.btn-show {
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.catalog {
  width: 700px;

  font-family: "PT Sans", "Arial", sans-serif;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list .catalog-item {
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-list .catalog-item:nth-child(3n) {
  margin-right: 0;
}

/* Стилизация footer */

.footer {
  background-color: #32425c;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  width: 340px;
}

.footer-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 63px;

  background-color: #ee3643;
  box-shadow: 0 5px #b52933;
}

.footer-contacts,
.footer-contacts a,
.footer-right a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-contacts {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 49px;
  padding-left: 3px;
}

.footer-contacts a {
  display: block;
}

.footer-right {
  width: 550px;
}

.footer-nav ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav .footer-nav-main {
  margin-top: 38px;
}

.footer-nav .footer-nav-material {
  margin-top: 33px;
}

.footer-nav-main li {
  margin-left: 59px;
}

.footer-nav-main li:first-child {
  margin-left: 0;
}

.footer-nav-material li {
  margin-left: 59px;
}

.footer-nav-material li:first-child {
  margin-left: 0;
}

.footer-nav-material a {
  color: #ffd180;
}

.footer-nav a:hover,
.footer-nav a:focus {
  text-decoration: underline;
}

.footer-nav a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-bottom {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom .container {
  display: flex;
  justify-content: flex-start;
}

.footer-copyright {
  box-sizing: border-box;
  width: 230px;
  margin: 0;
  margin-top: 37px;
  margin-bottom: 34px;
  padding-left: 2px;
}

.footer-bottom a {
  color: #ffd180;
}

.footer-bottom a:hover,
.footer-bottom a:focus {
  text-decoration: underline;
}

.footer-bottom a:active {
  color: #ee3643;
  text-decoration: none;
}

/* .footer-social {
  width: 135px;
  margin-top: 34px;
  margin-left: 160px;

  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;

  list-style: none;
} */

.footer-social {
  display: flex;
  justify-content: flex-end;
  width: 295px;
  margin-top: 34px;

  text-align: center;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 3px;
  padding: 0;

  list-style: none;
}

.footer-social li {
  margin-right: 3px;
}

.footer-social li:nth-child(3n) {
  margin-right: 0;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;

  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}

.social-vk {
  background-image: url("../img/icon-vk.svg");
}

.social-fb {
  background-image: url("../img/icon-fb.svg");
}

.social-insta {
  background-image: url("../img/icon-insta.svg");
}

.social-btn:hover,
.social-btn:focus,
.social-btn:active {
  background-color: #ee3643;
}

.footer-feed-back {
  width: 140px;
  margin-top: 37px;
  margin-left: 117px;
}

.footer-feed-back a {
  display: block;
}

.footer-author {
  width: 100px;
  margin-top: 37px;
  margin-left: 47px;
}

.footer-author a {
  display: block;
}
/* Стилизация  popup*/
