/* Глобальные стили */
body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* Стилизация header */

.header {
  background-color: #f3f7f8;
}

.header-head {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.header-logo-link {
  background-color: #ee3643;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}

.header-logo-link:hover,
.header-logo-link:focus {
  background-color: #ca2c37;
}

.header-logo-link:active {
  background-color: #ba2732;
}

/* ____Добавить белый цвет текста placeholder____ */
.header-search {
  font: inherit;
  color: #000000;

  background-color: inherit;
  border: none;
}

.header-search:hover {
  background-color: #212a3a;
}

.header-search:focus {
  background-color: #ffffff;
}

.header-head a {
  color: #ffffff;
}

.header-note:hover,
.header-basket:hover,
.header-note:focus,
.header-basket:focus {
  background-color: #212a3a;
}

.header-note:active,
.header-basket:active {
  background-color: #161d29;
  opacity: 0.4;
}


.header-place-order {
  background-color: #63a63e;
}

.header-place-order:hover,
.header-place-order:focus {
  background-color: #5fbb2d;
}

.header-place-order:active {
  opacity: 0.5;
  background-color: #518534;
}

.header-desc {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: #32425c;
}

.header-contacts a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-list-btn {
  list-style: none;
}

.header-btn {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.header-btn:hover,
.header-btn:focus {
  color: #ee3643;
}

.header-user-name:hover,
.header-user-name:focus {
  color: #000000;
}

.header-btn:active {
  color: #000000;

  opacity: 0.3;
}

.header-user-links {
  list-style: none;
}

.header-user-links a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.header-user-links a:hover,
.header-user-links a:focus {
  color: #ee3643;
}

.header-user-links a:active {
  color: #32425c;

  opacity: 0.3;
}

.header-main-nav ul {
  list-style: none;
}

.header-main-nav li {
  background-color: #32425c;
  box-shadow: inset 0 -5px #293449;
}

.header-main-nav a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.header-main-nav li:hover,
.header-main-nav li:focus {
  background-color: #293449;
  box-shadow: none;
}

.header-main-nav li:active {
  background-color: #1d2739;
  box-shadow: none;
}
/* ____Здесь неверно. Текст становиться полупрозрачным при нажатии на ссылку, а не на весь элемент */
.header-main-nav a:active {
  opacity: 0.5;
}

/* Стилизация main */

.link {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.link:hover,
.link:focus {
  background-color: #ca2c37;
}

.link:active {
  background-color: #ba2732;
}

.catalog-item {
  text-align: center;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item-title,
.catalog-item-model {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.catalog-item-model {
  text-transform: uppercase;
}

.catalog-item-image {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.btn-buy {
  color: #ffffff;

  background-color: #63a63e;
  box-shadow: inset 0 -3px #367315;
}

.btn-buy:hover,
.btn-buy:focus {
  background-color: #5fbb2d;
}

.btn-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.btn-add-note {
  color: #32425c;

  border: 3px solid #63a63e;
}

.btn-add-note:hover,
.btn-add-note:focus {
  border-color: #32425c;
}

.btn-add-note:active {
  opacity: 0.3;
}

.catalog-item-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.price-old {
  color: #999999;
}

.price-new {
  color: #ffffff;

  /* ___С таким фоном не будет видно svg*/
  background-color: #ee3643;
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.delivery h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.delivery p,
.contacts p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* ___Стилизовать маркированый список */
.delivery-company-list {
  list-style: square;
}

.delivery-company-list li {
  font-size: 18px;
  line-height: 20px;
}

.image-map {
  background-color: #cccccc;
}

/* Дополнительные стили для  main страницы каталога */

.page-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;

  background-color: #f2f6f8;
}

.breadcrumbs {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  list-style: none;
}

.breadcrumbs a {
  color: inherit;
}

.filters {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.filters h2 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filters ul {
  list-style: none;
}

.filter-manufacturer label,
.filter-power label {
  font-size: 15px;
  line-height: 20px;
}

.btn-show {
  font-size: 13px;
  line-height: 13px;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.catalog {
  font-family: "PT Sans", "Arial", sans-serif;
}

.catalog-list {
  list-style: none;
}

/* Стилизация footer */

.footer {
  background-color: #32425c;
}

.footer-logo-link {
  background-color: #ee3643;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}

.footer-contacts,
.footer-contacts a,
.footer-left a {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-nav ul {
  list-style: none;
}

.footer-nav-material a {
  color: #ffd180;
}

.footer-nav a:hover,
.footer-nav a:focus {
  text-decoration: underline;
}

.footer-nav a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-footer {
  background-color: #293449;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-footer a {
  color: #ffd180;
}

.footer-footer a:hover,
.footer-footer a:focus {
  text-decoration: underline;
}

.footer-footer a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-social ul {
  list-style: none;
}

.social-btn {
  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-social li:nth-child(1) a {
  background-image: url("../img/icon-vk.svg");
}

.footer-social li:nth-child(2) a {
  background-image: url("../img/icon-fb.svg");
}

.footer-social li:nth-child(3) a {
  background-image: url("../img/icon-insta.svg");
}

.social-btn:hover,
.social-btn:focus,
.social-btn:active {
  background-color: #ee3643;
}

/* Стилизация  popup*/
